/* TOP SEGMENT */

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

#background {
     min-height: 800px;
}

/* ----------------------- */