{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="ui inverted vertical masthead center aligned segment" id="background">
        <div class="ui container">
            <div class="ui text container">
                <h1 class="ui inverted header">Imagine-a-Company</h1>
                <h2>Do whatever you want when you want to.</h2>
                <div class="ui text container">
                    <a class="ui huge teal button" id="inscription-button" href="#">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui page grid">
        <div class="one column row">
            <div class="column">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}